<h1><%= @product.productTitle %></h1>
<p><%= @product.productImage %></p>
<p><%= @product.productDesription %></p>
<p><%= @product.productPrice %></p>
<p><%= @product.productUniversity %></p>
<p><%= @product.productCampus %></p>
<p>Contact infor</p>
<p><%= @product.productEmail %></p>
<p><%= @product.productPhoneNo %></p>

<%= link_to "<< Back to Items List", products_path %><br>
<%= link_to "Delete Post", product_path(@product), method: :delete, data: {confirm: "Are you sure?"}  %>
