<!DOCTYPE html>
<html>
<head>
  <title>Campusbay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<nav class="teal">
  <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Campusbay</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#about">Home</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#icons">About</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">  
          <li><a href="#">Home</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">About</a></li>
      </ul>
  </div>
</nav>

<p class="flash"><%= flash.notice %></p>
<%= yield %>

</body>
</html>
