<!DOCTYPE html>
<html>
<head>
  <title>Campusbay</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
<nav class="teal">
  <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Campusbay</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#about">Home</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#icons">About</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">  
          <li><a href="#">Home</a></li>
          <li><a href="#">Categories</a></li>
          <li><a href="#">About</a></li>
      </ul>
  </div>
</nav>


<div class="container">
  


<p class="flash"><%= flash.notice %></p>
<%= yield %>
</div>

<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Find us</h5>
                <p class="grey-text text-lighten-4">Map for our location will go here</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>

                
                  <li>
                  <a class="grey-text text-lighten-3" href="#!">Contuct us</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">How to shop on campusbay</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Terms and condition</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright campusbay
            <a class="grey-text text-lighten-4 right" href="#!">Get our Mobile App</a>
            </div>
          </div>
        </footer>

</body>



</html>
